<html>
<head>
	<title>Ticy Tacy Toe!</title>
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<!-- AngularFire Library -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="script.js"></script>
</head>
<body x-ng-app="TTTApp" x-ng-controller="TicTacController">
		<div class="outcome">
			<h1>{{outcome}}</h1>
		</div>
		<div class="gameboard">
			<div class="row" x-ng-repeat="r in game.rows track by $index">
				<div class="cellblock" x-ng-repeat="col in r track by $index" x-ng-click="playerMoved($parent.$index, $index)" x-ng-class="{'cellblockNoHover': isGameOver(), 'cellblockFull' : isCellFull($parent.$index, $index), 'cellblockWinning': showWinningCell($parent.$index, $index) }">
				<span x-ng-class="{'blink_me': showWinningCell($parent.$index, $index)}">{{ col }}</span>
				</div>
			</div>
		</div>
		<div id="footer" x-ng-style="footerStyle">
			<input type="button" value = "Play Again?" x-ng-click="resetBoard();"/>
		</div>
		<p>Score X:{{game.scoreX}} Score O:{{game.scoreO}}</p>
		<input type="button" x-ng-click="playNetworkGame();" value="Network Game" />
		<input type="button" x-ng-click="exitNetworkGame();" value="Disconnect" />
		<div class="switchContainer">
			<span id="switchtext">Enable AI Opponent</span>
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" x-ng-model="AIOpponent">
				<label class="onoffswitch-label" for="myonoffswitch">
	    			<div class="onoffswitch-inner"></div>
	    			<div class="onoffswitch-switch"></div>
				</label>
			</div>
		</div>
</body>
</html>