<html>
<head>
	<title>Ticy Tacy Toe!</title>
	<link rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body x-ng-app="" x-ng-controller="TicTacController">
		<div class="outcome">
			<h1>{{outcome}}</h1>
		</div>
		<div class="gameboard">
			<div class="row" x-ng-repeat="r in rows track by $index">
				<div class="cellblock" x-ng-repeat="col in r track by $index" x-ng-click="playerMoved($parent.$index, $index)">
				{{ col }}
				</div>
			</div>
		</div>
</body>
</html>

<!-- Console test code
var myDiv = document.getElementsByTagName("div")[2]
angular.element(myDiv).scope()

//was in the body
x-ng-init="rows = [['a','b','c'], ['d','e','f'], ['g','h','i']];"
-->